install/deps/armadillo
install/deps/eigen3

.catkin_workspace
.idea/

##---------------------------------------------------
## matlab
##---------------------------------------------------

# ignore logged *.bin and *.txt *.dat and *.mat files
#data/*.bin
#data/*.txt
#data/*.dat
#data/*.mat

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave



##---------------------------------------------------
## Dropbox
##---------------------------------------------------
.dropbox
.dropbox.attr
.dropbox.cache



##---------------------------------------------------
## C++
##---------------------------------------------------
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



##---------------------------------------------------
## Cmake
##---------------------------------------------------
src/CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


##---------------------------------------------------
## ROS
##---------------------------------------------------
c++/as64_ws/src/CMakeLists.txt
build/
devel/
bin/
#lib/
msg_gen/
srv_gen/
#msg/*Action.msg
#msg/*ActionFeedback.msg
#msg/*ActionGoal.msg
#msg/*ActionResult.msg
#msg/*Feedback.msg
#msg/*Goal.msg
#msg/*Result.msg
#msg/_*.py

# Generated by dynamic reconfigure
*.cfgc
/cfg/cpp/
/cfg/*.py

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

/planning/cfg
/planning/docs
/planning/src

*~

# Emacs
.#*

# Catkin custom files
CATKIN_IGNORE
.catkin_workspace

# Kdevelop files
*.kdev4


# CLion
.idea/
src/.idea/
src/cmake-build-debug/


