<?xml version="1.0"?>

<launch>

    <node pkg="gmp_test" type="nDoF_gmp_test" name="nDoF_gmp_test_node"
          output="screen" cwd="node">

        <rosparam>

          train_filename: "src/simulation/data/pos_data.bin"
          results_filename: "src/simulation/data/nDoF_gmp_test_results.bin"

          train_method: "LS"
          N_kernels: 25
          kernels_std_scaling: 1.5

          scale_type: "rot_wb" # {"prop", "rot_min", "rot_wb"}
          wb_normal: [0, 0, 1] # work-bench normal

          Pg: [1.2, 1.8, 0.36] # new target for execution
          T: 8.33 # new time duration for execution

          read_gmp_from_file: true
          write_gmp_to_file: true
          gmp_filename: "src/simulation/data/gmp_pos.bin"

        </rosparam>

    </node>

</launch>
